.foto-grid {
  max-width: 928px;
  /* min-height: 942px; Пока убираю высоту */
  margin: 92px 48px;

  /* box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
}
