/* базовый фрейм 1280px */

.foto-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  /* min-height: 942px; Пока убираю высоту */
}

@media screen and (max-width: 1024px) {
  .foto-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .foto-grid {
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .foto-grid {
    max-width: 288px;
    margin-bottom: 64px;
  }
}
