.page {
  width: 1024px; /* фрейм 1024px */

  /* max-width: 1600px;    выше установили ограничение по максимальной ширине */
  min-height: 6895px;

  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Inter", "Arial", sans-serif;
  background-color: #2a2c2f;

  /* пример с тренажера, css, формы
  * Сглаживание шрифтов для всей страницы, подробнее об этом —
  * в уроках про адаптацию страницы под различные устройства
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
}
