/* базовый фрейм 1280px */
/* Изображение логотипа*/
.header__logo {
  /* margin: 0; */
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  max-width: 176px; /* тот же размер для 1024px и 768px */
  min-height: 52px; /* тот же размер для 1024px и 768px */
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
