/* Базовый стиль для фрейма 1280px */

.cover {
  max-width: 1280px; /* ширина изображения для 1280px, max-width: 1184px; убрал */
  /* min-height: 740px; */
  /* margin: 0 auto; */
  width: 100%;
  padding: 0 48px 0 48px; /* отступы только для 1280px */
  box-sizing: border-box;
  /* border: solid 1px #18d661; - рамка для проверки*/
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}
