/* Базовый стиль для фрейма 1280px */

.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  margin: 0 0 32px 0;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 560px) {
  .cover__title {
    max-width: 288px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px; /* or 109% */
  }
}
