.cover__title {
  margin: 0 auto;
  min-width: 560px;
  min-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px; /* or 106% */
  text-align: center;
  color: #ffffff;
  z-index: 3;
}
