.intro__title {
  max-width: 730px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 40px 0; /* Включая сброс стандартных отступов параграфа с других сторон */
  padding: 0; /* Сброс стандартных отступов параграфа */
  line-height: 58px; /* Высота строки */
}
